<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page_title %}
            {{page_title}}
        {% endif %}
    </title>
</head>

<body>
    <div style="
            margin: 10px;
            text-align: center;
            max-width: 600px;
            margin: 0 auto
            ">
        <div style="
            background-color: gainsboro;
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            max-width: 600px;
            margin: 0 auto
            ">
            {% block content %}
                <div>Base</div>
            {% endblock %}
        </div>
        <div style="margin: 10px">
            <a href="{% url 'index' %}">Go to homepage</a>
        </div>
    </div>
</body>

</html>